<%- include('../../../partials/header.ejs') %>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../../../partials/sidebar.ejs') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('../../../partials/navbar.ejs') %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <%- include('../../../partials/message.ejs') %>

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Detail Item</h1>

                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-show-item-tab" data-toggle="tab" href="#nav-show-item"
                        role="tab" aria-controls="nav-show-item" aria-selected="true">Show Feature</a>
                      <a class="nav-item nav-link" id="nav-add-item-tab" data-toggle="tab" href="#nav-add-item"
                        role="tab" aria-controls="nav-add-item" aria-selected="false">Show Activity</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-show-item" role="tabpanel"
                      aria-labelledby="nav-show-item-tab">
                      <%- include('show_feature.ejs') %>
                    </div>
                    <div class="tab-pane fade" id="nav-add-item" role="tabpanel" aria-labelledby="nav-add-item-tab">
                      <%- include('show_activity.ejs') %>
                    </div>
                  </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('edit_feature.ejs') %>
        <%- include('edit_activity.ejs') %>
        <%- include('../../../partials/footer.ejs') %>

        <script>
          $(document).ready(function(){
            $('#dataTableActivity').DataTable()
          })
        </script>

        <script>
          $('#dataTable').on('click', '.btn-update', function(){
            let id = $(this).data('id')
            let name = $(this).data('name')
            let qty = $(this).data('qty')
            $('#editModalFeature').modal('show')
            $('.id').val(id)
            $('.name').val(name)
            $('.qty').val(qty)
          })
          $('#dataTableActivity').on('click', '.btn-update', function(){
            let id = $(this).data('id')
            let name = $(this).data('name')
            let type = $(this).data('type')
            $('#editModalActivity').modal('show')
            $('.id').val(id)
            $('.name').val(name)
            $('.type').val(type)
          })
        </script>